@{
    ViewBag.Title = "About Digital Voting";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Digital Voting App helps you to create an election day of your organization fast, accurate and the most important remotely.</p>

<div class="row">
    <div class="col-md-10">
        <h2>Getting started</h2>
        <p>1st step, you must create Combinations if the elections concern multiple users in a ballot.</p>
        <p>2nd step, creating a ballot with the combinations or the users that will take part in voting.</p>
        <p>3rd step, lets specify the day and the users that will take part, the votes per user and the discription.</p>
    </div>
</div>
