@model IEnumerable<DigitalVoting.Models.Ballot>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>
        There are @Model.Count() Ballots in the db
    </div>
</div>

<ul>
    @foreach (var ballot in Model)
    {
        <li>@ballot.Name</li>
    }
</ul>