@model IEnumerable<DigitalVoting.Models.Ballot>
@{
    ViewBag.Title = "Index";
}

<h2>Existing Ballots</h2>

@if (!Model.Any())
{
    <p> We dont have ballots</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Ballot Name</th>
            </tr>
        </thead>
        @foreach (var ballot in Model)
        {
        <tr>
            <td>@Html.ActionLink(ballot.Name, "Details", "Ballot", null)</td>@*, new { id = ballot.id }*@
        </tr>
        }
    </table>

}

